<% layout('/layouts/boilerplate') -%>

<div class="row">
  <div class="col-8 offset-2 mt-3">

```
<h3>Create a New Listing</h3>

<form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

  <div class="mb-3">
    <label class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="Enter title" class="form-control" required>
    <div class="invalid-feedback">Title is required.</div>
  </div>

  <div class="mb-3">
    <label class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="Enter description" class="form-control" required></textarea>
    <div class="invalid-feedback">Description is required.</div>
  </div>


  <!-- IMAGE UPLOAD -->
  <div class="mb-3">
    <label class="form-label">Upload Listing Images</label>
    <input type="file" name="listing[images]" class="form-control" id="images" multiple required>

    <div class="form-text mt-2" id="fileCount">
      Selected: 0 files
    </div>

    <div id="imagePreviews" class="row mt-2"></div>
  </div>


  <div class="row">

    <div class="mb-3 col-md-4">
      <label class="form-label">Price</label>
      <input type="number" name="listing[price]" placeholder="Enter price" class="form-control" min="0" required>
      <div class="invalid-feedback">Price is required.</div>
    </div>

    <div class="mb-3 col-md-4">
      <label class="form-label">Max Guests</label>
      <input type="number" name="listing[maxGuests]" class="form-control" value="1" min="1">
    </div>

    <div class="mb-3 col-md-4">
      <label class="form-label">Country</label>
      <input type="text" name="listing[country]" placeholder="Enter country" class="form-control" required>
      <div class="invalid-feedback">Country is required.</div>
    </div>

  </div>


  <div class="mb-3">
    <label class="form-label">Location</label>
    <input type="text" name="listing[location]" placeholder="Enter location" class="form-control" required>
    <div class="invalid-feedback">Location is required.</div>
  </div>


  <select class="form-select" name="listing[category]" required>
    <option value="">Select Category</option>
    <option value="mountains">Mountains</option>
    <option value="arctic">Arctic</option>
    <option value="farms">Farms</option>
    <option value="rooms">Rooms</option>
    <option value="castles">Castles</option>
    <option value="cities">Cities</option>
    <option value="pools">Pools</option>
    <option value="beach">Beach</option>
    <option value="camping">Camping</option>
  </select>

  <button type="submit" class="btn btn-dark mt-3 mb-3">
    Add Listing
  </button>

</form>
```

  </div>
</div>

<script>

const fileInput = document.getElementById('images')
const fileCount = document.getElementById('fileCount')
const previews = document.getElementById('imagePreviews')

let allFiles = new DataTransfer()

fileInput.addEventListener('change', function(){

  Array.from(this.files).forEach(file=>{
    allFiles.items.add(file)
  })

  this.files = allFiles.files

  updateUI()

})


function updateUI(){

  fileCount.innerText = `Selected: ${allFiles.files.length} files`

  previews.innerHTML = ''

  Array.from(allFiles.files).forEach((file,index)=>{

    const reader = new FileReader()

    reader.onload = function(e){

      const div = document.createElement('div')

      div.className='col-3 mb-3 position-relative'

      div.innerHTML = `
        <img src="${e.target.result}" 
        class="img-thumbnail"
        style="height:100px;width:100%;object-fit:cover">

        <button type="button"
        class="btn btn-danger btn-sm position-absolute top-0 end-0 rounded-circle"
        style="transform:translate(25%,-25%)"
        onclick="removeFile(${index})">

        &times;
        </button>
      `

      previews.appendChild(div)

    }

    reader.readAsDataURL(file)

  })

}


window.removeFile = function(index){

  const dt = new DataTransfer()

  Array.from(allFiles.files).forEach((file,i)=>{
    if(i !== index) dt.items.add(file)
  })

  allFiles = dt

  fileInput.files = allFiles.files

  updateUI()

}

</script>
